<div class="container">
    <div class="row" >
        <div class="col align-self-center" style="height:100vh; display: flex; justify-content:center; align-items:center; flex-direction:column;" >
            {{result}}
            <a class="btn btn-primary btn-lg" style="margin-top: 20px;" href="/random" role="button">try else</a>
            <a class="btn btn-primary btn-lg" style="margin-top: 20px;" href="/" role="button">go home</a>
        </div>
    </div>
</div>
